[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
bumpversion = "*"
twine = "*"

[packages]
flask-socketio = "*"
coloredlogs = "*"
terminaltables = "*"
pyinquirer = "*"
psutil = "*"
colorama = "*"

[requires]
python_version = "3.7"
