name: PyPI Automated publish

on:
  pull_request:
    branches:
      - master
  push:
    tags:
      - "*"
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Setup poetry
        uses: Gr1N/setup-poetry@v8

      - name: Install dependencies
        run: poetry install

      - name: Build and dry publish
        if: github.event_name == 'pull_request'
        run: |
          poetry build
          poetry publish --dry-run

      - name: Build and publish
        if: github.event_name != 'pull_request'
        run: |
          poetry build
          poetry publish --username __token__ --password ${{ secrets.PYPI_TOKEN }}
